@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3d5654;
  --secondary: #425c5a;
  --body-color: #e1eceb;
  --btn-color: #c99c33;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-color);
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
