@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3d5654;
  --secondary: #425c5a;
  --body-color: #e1eceb;
  --btn-color: #c99c33;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-color);
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
